/*
Write your variables here. All available variables can be
found in element-plus/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/

$--color-primary: teal;

/* Header
  --------------------------*/

$--header-padding: 0px !default;

/* Footer
--------------------------*/

$--footer-padding: 0px !default;

/* Main
--------------------------*/

$--main-padding: 0px !default;

/* Border
-------------------------- */

$--border-radius-base: 8px !default;
$--border-radius-small: 4px !default;
$--menu-item-hover-fill: none !default;

/* icon font path, required */

$--font-path: '~element-plus/lib/theme-chalk/fonts';
@import "~element-plus/packages/theme-chalk/src/index";